<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round of 16 - Block 2</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>
        <h1>Round of 16 - Block 2</h1>
    </header>
    <main>
        <div class="block">
            <div class="sub-block">
                <h3>Sub Block 1</h3>
                <div class="match">
                    <button name="Portugal" onclick="selectTeam('Portugal', 'Block 2', 'Sub Block 1')">Portugal</button>
                    <span>vs</span>
                    <button name="Slovenia" onclick="selectTeam('Slovenia', 'Block 2', 'Sub Block 1')">Slovenia</button>
                </div>
            </div>
            <div class="sub-block">
                <h3>Sub Block 2</h3>
                <div class="match">
                    <button name="Belgium" onclick="selectTeam('Belgium', 'Block 2', 'Sub Block 2')">Belgium</button>
                    <span>vs</span>
                    <button name="France" onclick="selectTeam('France', 'Block 2', 'Sub Block 2')">France</button>
                </div>
            </div>
        </div>
        <div id="selectedMatch">
            <h2>Selected Match</h2>
            <p>Select two teams from the same sub-block to display the match.</p>
        </div>
        <form action="/submit3" method="POST">
            <input type="submit" value="Submit">
      </form>
    </main>

    <script>
        let selectedTeams = { 'Sub Block 1': '', 'Sub Block 2': '' };

        function selectTeam(team, block, subBlock) {
            selectedTeams[subBlock] = team;
            const subBlockTeams = Object.values(selectedTeams).filter(value => value && value !== team);

            if (subBlockTeams.length === 1) {
                const team1 = subBlockTeams[0];
                const team2 = team;
                const matchDetails = `${team1} vs ${team2}`;
                showMatch(matchDetails);
                localStorage.setItem('selectedMatchBlock2', matchDetails); // Store the match details in localStorage
            } else {
                const selectedMatchDiv = document.getElementById('selectedMatch');
                selectedMatchDiv.innerHTML = `
                    <h2>Selected Match</h2>
                    <p>Select two teams from the same sub-block to display the match.</p>
                `;
            }
        }

        function showMatch(matchDetails) {
            const selectedMatchDiv = document.getElementById('selectedMatch');
            selectedMatchDiv.innerHTML = `
                <h2>Selected Match</h2>
                <p>${matchDetails}</p>
            `;
        }
    </script>

</body>
</html>
